<% include header %>


<div class='alert alert-success' role='alert'>
    <i class="fas fa-check-circle"></i>
    <div style="margin-top:70px;">
        <p><b>El archivo es autentico.</b></p>
        <p>
            <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Detalles
            </a>
            <a class="btn btn-info" href="javascript:history.back()">Volver a lista</a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <p><b>Identificación del archivo: </b><br />
                    <%= doc.id %>
                </p>
                <p><b>Hash del archivo: </b><br />
                    <%= hashed %>
                </p>
                <p><b>Estado de Transacción: </b><br />
                <% if(doc.mined) { %>
                Exitosa
                <% } else { %>
                Pendiente
                <% } %>
            </p>
                <p><b>Hash de Transacción: </b><br />
                    <a href="https://explorer.rsk.co/tx/<%= doc.tx %>" target="_blank"><%= doc.tx %></a>
                </p>
                <p><b>Nº de bloque minado: </b><br />
                    <a href="https://explorer.rsk.co/block/<%= result.blockNumber %>"
                        target="_blank"><%= result.blockNumber %></a>
                </p>
                <p><b>Fecha y hora de bloque minado: </b><br />
                    <%= result.mineTime %>
                </p>
            </div>
        </div>
    </div>
</div>


<% include footer %>