<main>
  <h1 class="titulo"><%= texts.titulohash %></h1>
  <form method="POST" id="hashform" enctype="multipart/form-data">
    <div class="custom-file">
      <input type="file" id="hashFile" name="newhash" class="custom-file-input" required>
      <label class="custom-file-label" for="customFileLang" data-browse="Elegir">
        <%= texts.filehash  %>
      </label>
      <div class="invalid-feedback">
        Se requiere cargar un archivo
      </div>
      <div class="input-group mb-3"></div>
      <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="<%= texts.fileid %>" aria-label="Username" name="id" aria-describedby="basic-addon1" required>
        </div>

        <div class="input-group mb-3">        <button type='submit' formaction="/hash" id="sendHashButton" class="btn btn-lg btn-secondary">
          <%= texts.uploadhash %>
        </button>
        </div>
        <div class="input-group mb-3">
        <button type='submit' formaction="/check" id="findHashButton" class="btn btn-lg btn-secondary"">
          <%= texts.checkhash %>
        </button>
        </div>

  </form>
  <div class="loader">
    <div class="inner one"></div>
    <div class="inner two"></div>
    <div class="inner three"></div>
    <div class="nucleus"></div>
  </div>
  <div class="text-center" id="responseText"></div>
</main>