<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="NUCLEARIS Blockchain Platform">
    <meta name="author" content="NUCLEARIS">
    <title>NUCLEARIS Blockchain Tecnology</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="app.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js'></script>

</head>

<body>
    <div class="cover-container">
        <nav class="navbar">
            <div class="logo"><a href="#" class="logo"><img src="logo.svg" class="imglogo" height="30"></a></div>
            <div class="main-nav">
                <a class="nav-links" id="home" href="/home"><%= texts.header.inicio %></a>
                <% if (currentUser) { %>
                <a class="nav-links" id="list" href="/list"><%= texts.header.list %></a>
                <a class="nav-links" id="upload" href="/upload"><%= texts.header.upload %></a>
                <a class="nav-links" id="verify" href="/verify"><%= texts.header.verify %></a>

                <% if (currentUser.role === "nrs") { %>
                <a class="nav-links" id="signup" href="/signup"><%= texts.header.signup %></a>
                <% } %>
                <a class="nav-links" href="/account"><%= currentUser.username %></a>
                <a class="nav-links" href="/logout"><%= texts.header.logout %></a></li>
                <% } else { %>
                <a class="nav-links" id="login" href="/login"><%= texts.header.login %></a>
                <% } %>
            </ul>
        </nav>