<% include partials/header %>

<main>
    <h1 class="titulo"><%= texts.list %></h1>
    <form method="GET" action="/list">
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect02" name="cc" onchange="this.form.submit()">
                    <option>Elegir proyectos</option>
                <option value='all'>Todos los proyectos</option>
              <option value="2130">2130</option>
              <option value="2320">2320</option>
            </select>
          </div>
    </form>
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th scope="col">Identificación de archivo</th>
                <th scope="col">Archivo</th>
                <th scope="col">Autenticidad</th>
                <th scope="col">Anular</th>
            </tr>
        </thead>

        <tbody>
            <% list.forEach(function(element){ %>
            <tr>
                <th scope="row"><%= element.username +'-'+element.proyecto +'-'+element.id %></th>
                    <td><a href="https://s3-sa-east-1.amazonaws.com/nrs-blockchain/<%= element.filename %>"><i class="fas fa-file"></i></a></td>
                    <td><a href="/check?hash=<%= element.hash %>"><i class="fas fa-question-circle"></i></a></td>
                    <td><a href="#" tabindex="0" data-container="body" data-toggle="popover" data-trigger="focus" data-html=true data-placement="right" html="true" data-content="<strong>Confirmar por favor<br><a href='/delete?hash=<%=element.hash%>'>Borrar documento</a></strong>"><i class="fas fa-trash"></a></i>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <ul class="pagination">

        <% let pages = Math.ceil(countDoc / perpage); %>
          <li class="page-item"><a class="page-link" href="list?page=<% if (page==1) { %><%=pages%><% } %>">Previous</a></li>
          <% for (i=1; i <= pages;i++)  {%>
          <li class="page-item"><a class="page-link" href="/list?page=<%= i %>"><%= i %></a></li>
          <% } %>
          <li class="page-item"><a class="page-link" href="/list?page=<% if (page == pages) { %><%=page%><% } %>">Next</a></li>
        </ul>
</main>

<% include partials/footer %>