<% include partials/header %>

<main>
    <h1 class="titulo"><%= texts.list %></h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Hash</th>
                <th scope="col">Tx</th>
                <th scope="col">Archivo</th>
                <th scope="col">Usuario</th>
            </tr>
        </thead>

        <tbody>
            <% list.forEach(function(element){ %>
            <% if (element.username === currentUser.username) { %>
            <tr>
                <th scope="row"><%= element.id %></th>
                <td><a href="#" title=<%= element.hash %>><%= element.hash.slice(0,6) %> ...
                        <%= element.hash.slice(-6) %>
                    </a></td>
                <td><a href="https://explorer.testnet.rsk.co/tx/<%= element.tx %>" target="_blank"
                        title=<%= element.tx %>><%= element.tx.slice(0,6) %> ... <%= element.tx.slice(-6) %>
                    </a></td>
                    <td><a href="<%= element.filename %>" download="<%= element.id %>"><i class="fas fa-file"></i></a></td>
                <td><%= element.username %></td>
            </tr>
            <% }%>
            <% }) %>
        </tbody>
    </table>
</main>

<% include partials/footer %>