<% include partials/header %>

<% include partials/navbar %>

<div id="content_table"><h1>Listado de todos los documentos</h1>
</div>

            <div id="table">
            <hr>
            <table class="table">
            <thead class="thead-dark">
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Hash</th>
            <th scope="col">Tx </th>
            <th scope="col">Minado?</th>
            <th scope="col">Usuario</th>
            </tr>
        </thead>
        <tbody>
            <% list.forEach(function(element){ %>
                <tr class="table-light">    
                    <th scope="row"><%= element.id %></th>
                    <td>
                        <a href="#" title=<%= element.hash %>><%= element.hash.slice(0,6) %> ... <%= element.hash.slice(-6) %>
                        </a>
                    </td>
                    <td>
                        <a href="#" title=<%= element.tx %>><%= element.tx.slice(0,6) %> ... <%= element.tx.slice(-6) %>
                        </a>
                    </td>
                    <td style="text-align: center">
                        <% if (element.mined === true) { %>
                            <i class="far fa-check-square"></i>
                        <% } else { %>
                            <i class="far fa-times-circle"></i>
                        <% } %>
                    </td>
                    <td><%= element.user %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
            </div>

      
<% include partials/footer %>