<% include partials/header %>


<main>
    <div class="container" style="width:60%">
        <% if (typeof message !== 'undefined') { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <span style="color:black; font-weight:700;"><%= message %></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <% } %>
        <h1 class="titulo"><%= texts.signup.titulo %></h1>
        <form action="/signup" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-3">
                    <input type="text" class="form-control" autocomplete="username" placeholder="<%= texts.signup.user %>" aria-label="Username" name="username" aria-describedby="basic-addon1" required>
                  </div>
                  <div class="input-group mb-3">
                  <input type="text" class="form-control" autocomplete="mail" placeholder="<%= texts.signup.mail %>" aria-label="Mail" name="mail" aria-describedby="basic-addon1" required>
              </div>
            <div class="input-group mb-3">
                    <input type="password" class="form-control" autocomplete="new-password" placeholder="<%= texts.signup.pwd %>" aria-label="password" name="password" aria-describedby="basic-addon1" required>
                </div>

            <div class="input-group mb-3">
                  <select class="custom-select" id="inputGroupSelect02" name="role">
                    <option value="nrs">NUCLEARIS</option>
                    <option value="prov">Proveedor</option>
                    <option value="client">Cliente</option>

                  </select>
                  </div>

            <button type='submit' style="margin: 10px" formaction="/signup" id="findHashButton" class="btn btn-md btn-light">
                <%= texts.signup.submit %>
            </button>
        </form>
    </div>

</main>

<% include partials/footer %>