<% include partials/header %>

<main>
  <h1 class="titulo"><%= texts.upload.titulo %></h1>
  <form method="POST" id="hashform" enctype="multipart/form-data">
    <div class="custom-file">
      <input type="file" id="hashFile" name="newhash" class="custom-file-input" required>
      <label class="custom-file-label" for="customFileLang" data-browse="<%= texts.upload.select %>">
        <%= texts.upload.filehash  %>
      </label>
      <div class="invalid-feedback">
      <%= texts.upload.filehash  %>
      </div>
      <div class="input-group mb-3"></div>
      <% if (currentUser.role !== 'client') { %>

      <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect02" name="cc">
          <option value="2130">2130</option>
          <option value="2320">2320</option>
        </select>
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect02"><%= texts.upload.cc %></label>
        </div>
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="<%= texts.upload.fileid %>" aria-label="Username" name="id"
          aria-describedby="basic-addon1" required>
      </div>

      <div class="input-group mb-3"> <button type='submit' formaction="/hash" id="sendHashButton"
          class="btn btn-md btn-light">
          <%= texts.upload.uploadhash %>
        </button>
      </div>
      <% } %>


  </form>

</main>
<% include partials/footer %>