<% include partials/header %>

<main>
  <h1 class="titulo"><%= texts.verify.titulo %></h1>
  <form method="POST" id="hashform" enctype="multipart/form-data">
    <div class="custom-file">
      <input type="file" id="hashFile" name="newhash" class="custom-file-input" required>
      <label class="custom-file-label" for="customFileLang" data-browse="<%= texts.verify.select %>">
      <%= texts.verify.filehash %>      </label>
      <div class="invalid-feedback">
      <%= texts.verify.invalidfile %>      </div>
      <div class="input-group mb-3"></div>

      <div class="input-group mb-3">
        <button type='submit' formaction="/check" id="findHashButton" class="btn btn-md btn-light"">
        <%= texts.verify.checkhash %>        </button>
        </div>

  </form>

</main>
<% include partials/footer %>